/* Board lanes */
#swim-lanes table {
    width: 100%;
}
.lane {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    vertical-align: top;
    padding: 8px;
}
.lane.dynamic {
}
.lane.fixed {
    background-color: #ccc;
    width: 10px;
}
.lane .arrow {
    font-size: 1.3em;
}
.lane-header { 
    font-size: 1.3em;
    padding: 0 6px 6px 6px;
}
.lane-container {
    float: left;
}
.arrow {
	cursor: pointer;
}

/*
#backlog-lane {
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
}

#archive-lane {
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
}
*/

/* Story cards */
.story {
    list-style: none;
    margin-bottom: 0.25em;
    border: 2px solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 0.75em;
}
.story-list {
    height: auto;
    min-height: 500px;
}
.story-header {
    overflow: hidden;
    cursor: move;
    border-bottom: 1px solid;
}
.story-id {
}
.story-link {
	padding: .25em .25em 0 .5em;
    float: left;
    font-weight: bold;
}
.story-link .ui-icon {
    float: left;
    display: none;
}
.story-link:HOVER .ui-icon {
    display: block;
}
.story-owner {
    float: right;
    font-size: 0.9em;
}
.story-owner-name {
    float: left;
    vertical-align: middle;
    line-height: 24px;
    margin-right: 4px;
}
.story-owner img {
    float: left;
    vertical-align: middle;
}
.story-text {
    font-size: 1.1em;
    padding: .5em;
}

/* Story card colour schemes */
.grey {
    background-color: #eee;
    border-color: #bbb;
}
.grey .story-header {
    background-color: #ddd;
    border-color: #bbb;
}

.red {
    background-color: #fdd;
    border-color: #faa;
}
.red .story-header {
    background-color: #fbb;
    border-color: #faa;
}

