/* Process flow */

#state-list {
    list-style: none;
    padding: .15em;
}
.state-item {
    width: 10em;
    height: 10em;
    margin: .25em;
    float: left;
    background-color: #fc0;
    border: 1px solid #850;
    border-radius: .5em;
    -webkit-border-radius: .5em;
}
.state-item.fixed {
    background-color: #d90;
}
.state-item .limit {
    color: #444;
}
.state-item .description {
    font-size: .75em;
    margin-top: .5em;
    text-align: left;
}
.state-info {
    height: 7em;
    padding: .5em;
    text-align: center;
}
.state-item.draggable .state-info {
    cursor: move;
}
.state-footer {
    border-top: 1px dotted #850;
    padding-top: 4px;
    text-align: center;
}

/* The edit form */

#state-edit-form label {
	display: block;
	float: left;
	width: 20em;
}