#{extends 'main.html' /}
#{set pageType:'project' /}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script 'process.js' /}
#{/set}
%{
    laneWidth = Math.round(1000/(project.states.size() - 2))/10
}%
<script>
var routes = {
	moveState: #{jsAction @Ajax.moveState(':state', ':index') /},
    addState: #{jsAction @Ajax.newState(':project', ':name', ':description', ':limit') /},
    deleteState: #{jsAction @Ajax.deleteState(':state') /}
} 
</script>
<section>
  <div id="menu">
    <button id="state-create-button">Add State</button>
  </div>
  <ul id="state-list">
    <li id="state-${project.states[0].id}" class="state-item fixed">
      #{state-card state: project.states[0] /}
    </li>
	#{list items:project.states[1..-2], as:'state'}
    <li id="state-${state.id}" class="state-item draggable">
      #{state-card state: state /}
	 </li>
     #{/list}
     <li id="state-${project.states[-1]}" class="state-item fixed">
      #{state-card state: project.states[-1] /}
     </li>
  </ul>
  
  <div id="state-create-form" title="Create new state" project-id="${project.id}"> 
    <form> 
    <fieldset> 
        <label for="name">Name</label> 
        <input type="text" name="name" id="name" /> 
        <label for="description">Description</label> 
        <input type="text" name="description" id="description" value="" /> 
        <label for="limit">Limit</label> 
        <input type="number" name="limit" id="limit" value="" /> 
    </fieldset> 
    </form> 
</div> 
  
</section>