*{ stupid underscores }*
%{ story = _story }%
<div class="story-header">
    <div class="story-id">
        <a class="story-link" href="@{Project.story(story.id)}" title="Click for story details">${story.id}</a>
    </div>
    <div class="story-owner">
        <span class="story-owner-name">${story.owner ? story.owner.name : 'Unassigned'}</span>
        #{if story.owner}
        #{gravatar.img story.owner.emailAddress, size:24, default:'mm', rating:'pg' /}
        #{/if}
    </div>
</div>
<div class="story-text">
<p>${story.title}</p>
<p>${story.description}</p> *{ FIXME add formatting }*
</div>