#{extends 'main.html' /}
#{set pageType: 'project' /}
#{set nav: 'board' /}
#{set title:'Board' /}

#{set 'moreScripts'}
    #{script 'jquery-sizes-0.33.min.js' /}
    #{script 'board.js' /}
#{/set}
#{set 'moreStyles'}
    #{stylesheet 'board.css' /}
#{/set}
%{
    laneWidth = Math.round(1000/(project.states.size() - 2))/10
}%
<script>
var routes = {
 	moveStoryToState: #{jsAction @State.moveStoryToState(':story', ':state', ':index') /},
    moveStory: #{jsAction @State.moveStory(':story', ':index') /},
} 
</script>

<section>
  <table id="swim-lanes">
    <tbody>
	<tr>
	  <td class="lane fixed">
        <div class="closed">
           <span class="arrow">&raquo;</span>
        </div>
        <div class="open">
             <div class="lane-header arrow">
                &laquo; ${project.states[0].name}
             </div>
             <ul id="state-${project.states[0].id}" class="story-list ui-sortable">
             #{list items:project.states[0].stories, as:'story'}
                 <li id="story-${story.id}" class="story ${story.colour}">
                     #{story-card story:story /}
                 </li>
             #{/list}
             </ul>
        </div>
      </td>
	  #{list items:project.states[1..-2], as:'state'}
          <td class="lane dynamic">
             <div class="lane-header">${state.name}</div>
             <ul id="state-${state.id}" class="story-list ui-sortable">
             #{list items:state.stories, as:'story'}
                 <li id="story-${story.id}" class="story ${story.colour}">
                     #{story-card story:story /}
                 </li>
             #{/list}
             </ul>
 	      </td>
	  #{/list}
           <td class="lane fixed">
       <div class="closed">
           <span class="arrow">&laquo;</span>
        </div>
        <div class="open">
             <div class="lane-header arrow">
                &raquo; ${project.states[-1].name}
             </div>
             <ul id="state-${project.states[-1].id}" class="story-list ui-sortable">
             #{list items:project.states[-1].stories, as:'story'}
                 <li id="story-${story.id}" class="story ${story.colour}">
                     #{story-card story:story /}
                 </li>
             #{/list}
             </ul>
        </div>
      </td>
	</tr>
	</tbody>
  </table>
</section>