#{extends 'project-page.html' /}
#{set title:'Home' /}

%{
    laneWidth = Math.round(1000/(project.states.size() - 2))/10
}%

<script> 
    $(function() {
  	
    	/*        
        $(".story").draggable({
            revert: "invalid",
            containment: $( "#swim-lanes" ).length ? "#swim-lanes" : "document",
            distance: 5,
            handle: ".story-header",
            connectToSortable: ".story-list",
            stack: ".story",
            //helper: "clone",
        });
    	$(".story-list").droppable({
            accept: ".story",
            // hoverClass: "ui-state-active",
            drop: function(event, ui) {
                $(this).addClass( "ui-state-highlight" );
            }
        })
*/
        $(".story-list").sortable({
            revert: true,
            handle: ".story-header",
            placeholder: "story ui-state-highlight",
            forcePlaceholderSize: true,
            tolerance: 'pointer',
            scroll: true,
            connectWith: ".story-list",
            containment: $( "#swim-lanes" ).length ? "#swim-lanes" : "document",
        });
        $(".story-list").disableSelection();
    });
</script> 
<section class="project">
	<div id="swim-lanes">
		<div id="backlog-lane">${project.states[0].name}</div>
		<div id="middle-lanes">
			<table>
			<tbody>
			<tr>
			#{list items:project.states[1..-2], as:'state'}
                <td id="state-${state.id}" class="lane" style="width:${laneWidth}%">
                    <div class="lane-header">${state.name}</div>
                    <ul class="story-list ui-sortable">
                    #{list items:state.stories, as:'story'}
                        <li class="story ${story.colour}">#{story-card story:story /}</li>
                    #{/list}
                    </ul>
			    </td>
			#{/list}
			</tr>
			</tbody>
		</table>
		</div>
	    <div id="archive-lane">${project.states[-1].name}</div>
	</div>
</section>