#{extends 'main.html' /}
#{set pageType:'project' /}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script 'board.js' /}
#{/set}
%{
    laneWidth = Math.round(1000/(project.states.size() - 2))/10
}%
<script>
var routes = {
 	moveStoryToState: #{jsAction @Ajax.moveStoryToState(':story', ':state', ':index') /},
    moveStory: #{jsAction @Ajax.moveStory(':story', ':index') /},
} 
</script>
<section class="project">
	<div id="swim-lanes">
		<div id="backlog-lane">${project.states[0].name}</div>
		<div id="middle-lanes">
			<table>
			<tbody>
			<tr>
			#{list items:project.states[1..-2], as:'state'}
                <td class="lane" style="width:${laneWidth}%">
                    <div class="lane-header">${state.name}</div>
                    <ul id="state-${state.id}" class="story-list ui-sortable">
                    #{list items:state.stories, as:'story'}
                        <li id="story-${story.id}" class="story ${story.colour}">
                            #{story-card story:story /}
                        </li>
                    #{/list}
                    </ul>
			    </td>
			#{/list}
			</tr>
			</tbody>
		</table>
		</div>
	    <div id="archive-lane">${project.states[-1].name}</div>
	</div>
</section>