<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.8.13.custom.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.1.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.13.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/utils.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    <header>
		#{if pageType == 'project'}
		    <h1>${project.title}</h1>
		    <p>${project.description}</p>    
		    <nav>
		      <ul>
		        <li>
		          <ul class="project-selector">
		            <li>${project.title}</li>
		          </ul>
		        </li>
		        <li><a href="@{Application.index()}">Home</a></li>
		        <li><a href="@{Application.board(project?.id)}">Board</a></li>
		      </ul>
		    </nav>
		#{/if}
		#{else}
		    <nav>
		      <ul>
		        <li>
		        </li>
		        <li><a href="@{Application.index()}">Home</a></li>
		      </ul>
		    </nav>
		#{/else}
    </header>
    #{doLayout /}
    <footer>
    </footer>
    </body>
</html>
